/*
font-family: "FiraSans";
#messages {
height: 50%;
overflow-y: scroll;
}
*/
body {
	/* color: #fff; */
	/*background-color: #315570;*/
	background-color: #055c80;	
	padding: 15px;
}

.container{
background-color: #fff;
border-radius: 5px;
}


/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

#btn-clear-log {
/*	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
*/	
}
	


#log p{
margin: 0;
}

.alert {
	margin-bottom: 3px !important;
	padding: 10px !important;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
	border-color: #ffb515;
}


#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -40px;	
}
/*
@media screen and (max-width:359px){ 
	#btn-scroll-to-top {
		left: 39%;
	}
}*/


#wait-window.modal-dialog {
background-color: rgb(200, 200, 250);
border-radius: 10px;
left: 50%;
margin-left: -290px;
padding: 10px;
position: fixed;
top: 25% !important;
z-index: 1042;
}
#wait-window h1 {
color: #000;
/*font-size: 400%;*/
}

#wait-window .loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
margin: auto;
animation: spin 2s linear infinite;
}
#wait-window .loader2 {
border-bottom: 16px solid #3498db;
border-top: 16px solid #3498db;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}




.breadcrumb-custom {
	/*background-color: #b1d0ef !important;*/
	/*background-color: inherit;*/
}
.breadcrumb-custom .btn {
	background-color: #337ab7;
	color: #fff;
	margin: 5px;
	padding: 5px;	
}
.breadcrumb-custom .btn:hover {
	background-color: #26557d;
}

.breadcrumb-custom .active-item {
	border-bottom: 1px solid #0000ff;
	padding:5px;
	font-weight:bold;
}


.bookpage .panel-primary > .panel-heading {
	background-color: #006b9b;
	/* border-color: #337ab7; */
	/*border-radius: 15px 15px 0 0;*/
}


.bookpage pre {
	background-color: #cFdFCc;
	padding:10px;
}

/* fix Bootstrap */
.nav-tabs .btn:hover {
	background-color: #26557d;
}
.nav-tabs .btn:focus {
	background-color: #26557d;
}
