<!DOCTYPE html>
<html>
<head>
	<title>web app</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">	
	
<!--	
	<meta name="referrer" content="no-referrer" />

	<link rel="shortcut icon" type="image/x-icon" href="res/favicons/favicon.ico"/>
	<link rel="mask-icon" sizes="any" href="res/favicons/mask-icon.svg" color="#f00"/>
	<link rel="icon" type="image/png" sizes="16x16" href="res/favicons/favicon-16x16.png"/>
	<link rel="icon" type="image/png" sizes="32x32" href="res/favicons/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="96x96" href="res/favicons/favicon-96x96.png"/>
	<link rel="apple-touch-icon" sizes="57x57" href="res/apple-touch-icon-57x57.png"/>
	<link rel="apple-touch-icon" sizes="60x60" href="res/favicons/apple-touch-icon-60x60.png"/>
	<link rel="apple-touch-icon" sizes="67x67" href="res/favicons/apple-touch-icon-76x76.png"/>
	<link rel="apple-touch-icon" sizes="72x72" href="res/favicons/apple-touch-icon-72x72.png"/>
	<link rel="apple-touch-icon" sizes="114x114" href="res/favicons/apple-touch-icon-114x114.png"/>
	<link rel="apple-touch-icon" sizes="120x120" href="res/favicons/apple-touch-icon-120x120.png"/>
	<link rel="apple-touch-icon" sizes="144x144" href="res/favicons/apple-touch-icon-144x144.png"/>
	<link rel="apple-touch-icon" sizes="152x152" href="res/favicons/apple-touch-icon-152x152.png"/>
-->
	
<!--	
<link rel="stylesheet" href="css/bootstrap335.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
-->

<!--[if lt IE 9]>
	<script src="js/fix_IE/html5shiv.js"></script>
	<script src="js/fix_IE/respond.min.js"></script>
<![endif]-->

	<link rel="stylesheet" href="css/lr.css">
	<link rel="stylesheet" href="css/custom.css">
	<link rel="stylesheet" href="fonts/fonts.css"/>	
	
	<script src="../../js/jquery.min.js"></script>
	<script src="js/functions.js"></script>
	<script src="js/app.js"></script>
	
<script src="js/plugins/json2.js"></script>
<script src="js/functions.js"></script>

<script src="js/iDBmodule.js"></script>
<script src="js/webSQLmodule.js"></script>
<script src="js/storage.js"></script>

<script src="js/templates.js"></script>
	
</head>

<body class="page-blue">
		
<div id="App" class="lr-container">

	<div class="log-panel panel">
		<div class="float-right">
			<a href="?q=toggle-log" title="Toggle log" class="lr-btn lr-btn-default">-</a>
			<a href="?q=clear-log" title="Clear log" class="lr-btn lr-btn-default">x</a>
		</div>
		<div id="log" class="lr-panel-body lr-row"></div>
	</div>
	
</div><!-- end App container -->


<div class="">
	<button id="btn-scroll-to-top" class="lr-btn lr-btn-info scroll-to nolink" data-target="App">scroll to top</button>
</div>


<!--  wait window -->	
<div class="dm-overlay" id="modal-wait-window">
    <div class="dm-table">
		<div class="dm-cell">
			<div class="dm-modal text-center">
<h4>please, wait...</h4>
<div class="loader loader2"></div>
<button id="btn-close" class="btn btn-danger">close</button>
			</div>
		</div>
	</div>
</div>


<!-- ********************** TEMPLATES ************************** -->	
<script id="tpl-node" type="text/template">
	<div class="row">
	
		<div class="bookpage" id="page-{{id}}">
		
			<div class="panel breadcrumb-custom">
{{breadcrumbs}}
			</div>
		
			<div class="panel panel-default">

				<div class="panel-heading">
<h3 class="title">{{title}}</h3>  
<p class="text-right date">
	<b>created:</b> {{created}}
	<b>changed:</b> {{changed}} 
</p>
				</div>
				
				<div class="panel-body child-nodes">
					<!-- <ul class="list-group"> -->
					<!-- <ul class="list-inline linked-nodes"> -->
{{child_nodes}}
				</div>
					
				<div class="panel-body">
<pre>{{body_value}}</pre>
				</div>

			
			</div><!-- end panel -->
			
		</div>
	</div><!-- end row -->
</script>
	

<script id="tpl-page-list" type="text/template">
	<ul>{{list}}</ul>
</script>
<script id="tpl-page-list-item" type="text/template">
	<li><a href="?q=view-node&id={{id}}" class="">{{title}}</a></li>
</script>


</body>
</html>
