﻿/* LOAD */
/*http://htmlbook.ru/css/import*/
@import "load.css" screen;

body, html {
  height: 100%;
}
body {
  background-color: #055c80;/*#315570*//*#2c5885*//*#6aa6c0*/
  margin: 0;
  padding: 15px;
}
@media screen and (max-width:595px) 
{ 
	body{
		padding:0;
	}
}

.main-content {
  height: 80%;
}
.container {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
@media screen and (max-width:595px) 
{ 
	.container{
		padding:0;
	}
	#block-schedule table th:first-child,
	#block-schedule table td:first-child
	{
		display: none;
	}	
}

/* fix Bootstrap */
/*
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}
*/
.nav-tabs {
	/* border-bottom: transparent; */
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 3px !important;
	padding: 7px !important;
}

header .navbar {
    margin-bottom: 0;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}



.log-panel {
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 999;
	margin-bottom: 0;
	margin-top: 5px;
}
.log-panel .panel-body {
	padding: 5px;
}

#search-panel .pull-left {
	margin-right: 5px;
	margin-top: 5px;
}
#search-panel .title {
	width:30%;
}
@media screen and (max-width:670px) 
{ 
	#search-panel .pull-left {
		float: none !important;
	}
	#search-panel .title {
		width:auto;
	}
	#search-panel .s-btn {
		text-align:center;
	}
}
@media screen and (max-width:595px) 
{ 
	#search-panel .title {
		margin-left: 5px;
		margin-right: 10px;
	}
	#search-panel .d-widget {
		margin-left: 5px;
		margin-right: 10px;
	}
}



.arrows {
	background-image: url("../img/icon_black_change_direction.svg");
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: contain; */
	background-size: 100%;
}


.selectDate{
padding-top:0;
}

.TransportIcon__icon {
 height:30px;
 width:20px
}
.TransportIcon__icon {
 fill:currentColor
}
.TransportIcon_type_suburban {
 color:#1dc11d
}
.SegmentTransport {
 font-size:11px;
 line-height:15px;
}
.SegmentTitle__number {
 margin:0 .9em 0 0
}
.SegmentTitle__title {
	font-weight: bold;
}

.Segment__dateTime {
 font-size:15px;
 line-height:20px
}
.Segment__dateTime.Time_important {
 font-weight:700
}
.Segment__date {
 font-size:11px;
 line-height:15px;
 color:#777
}
.schedule-block-mobile .Segment__date {
	font-size: medium;
	color:green;
}


.Segment__stations {
 font-size:11px;
 line-height:15px;
 color:red;
}
.schedule-block-mobile .Segment__stations {
	font-size: medium;
}

.Segment__stops,
.Segment__duration {
 font-size:11px;
 line-height:15px;
 color:#999
}

.schedule-block-mobile i {
	font-size: 11px;
}

#block-schedule .panel-body{
	padding:5px;
}
